@{
	Layout = null;
}
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<link href="~/Content/css/styles.css" rel="stylesheet" />
</head>
<body ng-app="app" ng-controller="mainCtrl as control">
	<div id="container">



		<div class="value x{{item.x}} y{{item.y}}" ng-repeat="item in items">[{{item.x}}-{{item.y}}]={{item.v}}</div>


		<table ng-keydown="console.log($event)">
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>


		<div class="command">
			<input type="button" value="G" ng-click="globalMove('left');" />
			<input type="button" value="D" ng-click="globalMove('right');" />
			<input type="button" value="H" ng-click="globalMove('up');" />
			<input type="button" value="B" ng-click="globalMove('down');" />

			<input type="text" value="" ng-model="newX" class="smallInput" />
			<input type="text" value="" ng-model="newY" class="smallInput" />
			<input type="text" value="" ng-model="newV" class="smallInput" />
			<input type="button" value="ajout" ng-click="addValue(newX, newY, newV)" />
		</div>
	</div>


	<script src="~/js/bower_components/angular/angular.js"></script>
	<script src="~/js/app.js"></script>
</body>
</html>
